.table-wrapper {
    // border: 1px solid $gray !important;
    font-family: 'Quicksand-Regular' !important;
    font-size: $font-size-small !important;
    
    .ag-root {
        border: none !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .ag-header {
        // border-top: 1px solid $gray !important;
        // border-left: 1px solid $gray !important;
        // border-right: 1px solid $gray !important;
    }
    .ag-row {
        // border-left: 1px solid $gray !important;
        // border-right: 1px solid $gray !important;
        
        // custom cell renderer container
        .ag-react-container {
           $logo-size: 22px;

            .table__team {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .table__team-logo {
                display: flex;
                width: $logo-size;
                justify-content: center;
                margin-right: 7px;

                img {
                    max-width: $logo-size;
                    max-height: $logo-size;
                }
            }
        }

        .champion-league-rank {
            border: none;
            border-left: 3px solid $blue;
        }

        .europe-league-rank {
            border: none;
            border-left: 3px solid lighten($color: $red, $amount: 12%);
        }
        .delegation-rank {
            border: none;
            border-left: 3px solid $red;
        }
    }
    .ag-row-last {
        // border-bottom: 1px solid $gray !important;
    }
}