.button {
	border: none;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-family: 'Quicksand-Medium';
	font-size: $font-size-large;
	font-weight: 300;
	line-height: 1;
	padding: $s-size;
	text-decoration: none;
	transition: 0.3s ease;
}

.button--icon {
	padding: 0;
	font-weight: initial;
	font-size: $font-size-medium;
}

// We assume the search button is on the right of the input area
.button--search {
	border-radius: 0 3px 3px 0;
}

@include generate-button-color('DEFAULT', $blue);
// Generate button--red class
@include generate-button-color('red', $red);
@include generate-button-color('yellow', $yellow);
@include generate-button-color('dark', $dark-gray);
@include generate-button-color('secondary', #888888);

@mixin button--link() {
	color: inherit;
	font-family: 'Quicksand-Regular';
	font-size: inherit;
	font-weight: inherit;
	padding: inherit;

	background: none;
	&:hover {
		background: none;
	}
}

.button--link {
	@include button--link();
}

.button--link-red {
	@include button--link();

	&:hover {
		color: $red;
	}
}

.button--link-cyan {
	@include button--link();

	&:hover {
		color: $cyan;
	}
}