.card {
	background-color: $off-white;
    border: 1px solid $off-white;
    border-radius: 5px;
	color: $dark-gray;
	padding: 1px $s-size;
	padding-bottom: $xs-size;
    text-decoration: none;
}

.card__header {
	margin: $s-size 0;
}