@mixin card {
    background-color: $off-white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s;
    padding: 2px 16px;

    &.card--selected, &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.03);
    }
}

.card {
    @include card();

    &.card--selected, &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.03);
    }
}