#app {
    position: relative;
    padding-bottom: 12rem;
    min-height: 100vh;
}

// https://codepen.io/anon/pen/jRbppK?editors=0100#anon-login
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    background-color: $off-white;
    text-align: center;

    .footer__content {
        display: flex;
        justify-content: flex-end;

        button {
            color: $gray;
            font-size: $font-size-medium;

            &:hover {
                color: $dark-gray;
            }
        }
    }
}