// HeadRoom component
.headroom {
	background: $dark-blue;
	boxShadow: 1px 1px 1px rgba(0,0,0,0.25);
	height: 8rem;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $s-size 0;

	.header__navbar {
		display: flex;
		align-items: center;
		font-family: Quicksand-Bold;
		
		.header__title {
			color: white;
			text-decoration: none;
			font-size: 12;
			h1 {
				margin: 0;
				font-family: Roboto;
			}
			img {
				width: 7rem;
			}
	
			display: flex;
			justify-content: center; // align horizontal
			align-items: center; // align vertical
			margin-right: $m-size;
		}

		// Tabs component
		.react-tabs {
			color: $off-white;
			margin-bottom: -$m-size;
		}
	}

	// SearchBar component
	.search-bar__wrapper {
		margin-bottom: -$m-size;
	}
}