// HeadRoom component
.headroom {
	background: $dark-blue;
	boxShadow: 1px 1px 1px rgba(0,0,0,0.25);
	height: 8rem;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $s-size 0;

	.header__navbar {
		display: flex;
		align-items: center;
		font-family: Quicksand-Bold;
		
		.header__title {
			color: white;
			text-decoration: none;
			h1 {
				margin: 0;
				font-size: $l-size;
				font-family: 'Ubuntu-Regular';
			}
			img {
				width: 7rem;
			}
	
			display: flex;
			justify-content: center; // align horizontal
			align-items: center; // align vertical
			margin-right: $m-size;
		}

		.mainmenu {
			margin: 0;
			background-color: lighten($color: $dark-blue, $amount: 5%);
			color: darken($color: white, $amount: 10%);
			border-bottom: none;

			li:hover, .rc-menu-item-selected {
				color: $dark-blue;
			}

		}
	}

	// SearchBar component
	.search-bar__wrapper {
		margin-bottom: -$m-size;
	}
}