.text-input {
	border: 1px solid #cacccd;
	height: $input-height;
	font-family: 'Quicksand-Regular';
	font-size: $font-size-medium;
	// font-weight: 300;
	padding: $s-size;
}

.select {
	@extend .text-input;
}

.option {
	@extend .text-input;
}

.textarea {
	@extend .text-input;
	height: 10rem;
}
