.list-body {
	margin-bottom: $m-size;
	@media (min-width: $desktop-breakpoint) {
		margin-bottom: $l-size;
	}
}

// A line to cover the top border of the top-most list item
hr.list-item-top-border {
	margin: 0;
	border: none;
	border-top: 1px solid darken($off-white, 7%);
}

@mixin list-item-base {
	border: 1px solid darken($off-white, 7%);
	border-top: none;
	color: $dark-gray;
	padding: $s-size;
	text-decoration: none;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $off-white;
	}
}

.list-item-base {
	@include list-item-base();
}

@mixin list-item {
	@include list-item-base();
	display: flex;
	flex-direction: column;
	padding: $s-size;
	@media (min-width: $desktop-breakpoint) {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding: $m-size;
	}
}

.list-item--message {
	align-items: center;
	color: $gray;
	justify-content: center;
	padding: $m-size;
	&:hover {
		background: none;
	}
}

.list-item__title {
	margin: 0;
	word-break: break-all;
}

.list-item__sub-title {
	color: $gray;
	font-size: $font-size-small;
}

.list-item__data {
	margin: $s-size 0 0 0;
	@media (min-width: $desktop-breakpoint) {
		margin: 0;
		padding-left: $s-size;
	}
}
