.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	border-radius: 5px;
	background: $dark-gray;
	color: white;
	max-width: 50rem;
	outline: none;
	padding: $l-size;
	text-align: center;
}

.modal__title {
	font-weight: 300;
	margin: 0 0 $m-size 0;
}

.modal__button {
	width: 10rem;
	margin: $s-size;
	margin-bottom: 0;
}
