.newslist-item {
    @include list-item();
    font-size: $font-size-small;

    .newslist-image {
        align-items: flex-start; // override from list-item mixin

        img {
            width: 35rem;
        }
    }
    .newslist-text {
        align-self: flex-start;
        padding-left: $s-size;
        position: relative;
    }

    .newslist-text__source {
        color: $cyan;
        font-family: 'Quicksand-Medium';
    }
    .newslist-text__date {
        position: absolute;
        right: 0;
        color: $dark-blue;
        font-family: 'Roboto';
    }

    // Article title
    h2 {
        margin: 0;
        font-size: $font-size-large;
        font-family: 'Quicksand-Bold';
    }

    h3 {
        font-family: 'Quicksand-Light';
    }
}
