@import '../base/settings';

input {
	border: 1px solid #cacccd;
	height: 3rem;
	font-size: $font-size-large;
	font-weight: 300;
    padding: $s-size;
    width: 15rem;
}

.search-bar__wrapper {
    display: flex;
    position: relative;
}

.search-bar__submit {
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0;
    outline: 0;
    padding: 0;

    background-color: #e5e5e5;
    background-image: url('/images/search.svg');
    background-size: 50%;
    border: 1px solid #ddd;
    padding: 0 1.5rem;
    opacity: .8;
    width: 3rem;
  }