@import '../base/settings';

.search-bar__wrapper {
	display: flex;
	position: relative;
}

.search-bar__submit {
	color: white;
	width: 4rem;

	// fill parent size
	button {
		width: 100%;
		height: 100%;
	}
}
