.tile-group {
    display: flex;
    justify-content: space-between;

    .tile {
        @extend %card-base;
        flex: 0 0 34rem;
        background-color: $dark-blue;
        color: $off-white;
        padding: 0;
            
        .tile-title {
            font-family: 'Quicksand-Bold';
            background-color: $dark-blue;
            padding: $m-size;
        }

        .tile-body {
            height: 31rem;
            display: flex;
            background-color: darken($color: $dark-blue, $amount: 10);

            .slide {
                background-color: transparent;
            }

            img {
                height: 65%;
                object-fit: cover; // Crop height down, do not shrink
            }
        }

        .tile-text {
            font-family: Quicksand-Regular;
            padding: 0 $s-size;
        }
    }
}