.top-scorer-list {
    margin-left: $l-size;
    flex: 1 0;
}

.top-scorer-item {
    @include card();
    padding: $s-size;

    .top-scorer-item__name {

    }

    .top-scorer-item__info {

    }
}