* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a {
	color: $blue;
}

body {
	color: $dark-gray;
	font-family: Quicksand-Light, Helvetica, Arial, sans-serif;
	font-size: $m-size;
	line-height: 1.6;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

label {
	display: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

h5 {
	font-size: $font-size-large;
}

input {
	border: none;
	height: 3rem;
	font-size: $font-size-large;
	font-family: 'Quicksand-Light';
    padding: $s-size;
	width: 15rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-top: $xs-size;
		font-family: 'Quicksand-Regular';
	}
}

.bold {
	font-family: 'Quicksand-Medium';
}

.column {
	clear: none;
    margin: 0;
	padding: 1px $s-size;
	padding-bottom: $xs-size;
    position: relative;
}

.flex-left { justify-content: flex-start; }
.flex-right { justify-content: flex-end; }

.header {
	background: lighten($color: $dark-blue, $amount: 12%);
    color: $off-white;
    cursor: default;
    padding: $m-size;
    text-align: center;
    font-family: 'Quicksand-Medium';
    font-size: $font-size-large;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.is-active {
	font-weight: bold;
}

.code {
	background: $light-gray;
	border: 1px solid $light-gray;
	border-radius: 3px;
	color: $dark-gray;
    font-family: 'Quicksand-Medium';
}

.sep {
	display: inline-block;
	margin: $s-size;
}

.sep-m {
	display: inline-block;
	margin: $m-size;
}

// [t]ext font size [s]mall
.t-s { font-size: $font-size-small; }
.t-m { font-size: $font-size-medium; }
.t-l { font-size: $font-size-large; }
.t-xl { font-size: $font-size-xlarge; }

.m-0 { margin: 0; }
.mr-s { margin-right: $s-size; }
.mr-m { margin-right: $m-size; }
.mr-l { margin-right: $l-size; }

.ml-s { margin-left: $s-size; }
.ml-m { margin-left: $m-size; }
.ml-l { margin-left: $l-size; }

.mt-s { margin-top: $s-size; }
.mt-m { margin-top: $m-size; }
.mt-l { margin-top: $l-size; }

.mb-s { margin-bottom: $s-size; }
.mb-m { margin-bottom: $m-size; }
.mb-l { margin-bottom: $l-size; }

.m-s { margin: $s-size; }
.m-m { margin: $m-size; }
.m-l { margin: $l-size; }
// center block self
.center-block { margin: 0 auto; }

// position inline children
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }