* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: $dark-gray;
	font-family: Quicksand-Light, Helvetica, Arial, sans-serif;
	font-size: $m-size;
	line-height: 1.6;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}

label {
	display: none;
}

input {
	border: none;
	height: 3rem;
	font-size: $font-size-large;
	// font-weight: 300;
	font-family: 'Quicksand-Light';
    padding: $s-size;
    width: 15rem;
}