
$fa-font-path: '~font-awesome/fonts';
$font-path: $root + 'public/fonts';

@import '~font-awesome/scss/font-awesome.scss';

@font-face {
    font-family: 'Roboto';
    src: url($font-path + '/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url($font-path + '/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url($font-path + '/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url($font-path + '/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url($font-path + '/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url($font-path + '/Quicksand-Light.ttf') format('truetype');
}
