
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

@font-face {
    font-family: 'Roboto';
    src: url('/dist/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('/dist/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('/dist/fonts/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('/dist/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/dist/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url('/dist/fonts/Quicksand-Light.ttf') format('truetype');
}
