/**
* Generate button style
* @param {String} - $name - required
* @param {String} - $background - required - format accepted: hsla, rgb, #
* @param {Strong} - $color - optional - format accepted: hsla, rgb, #
*/
@mixin set-button-color($background, $color) {
	$background-light: lighten($background, 3%);
	$outline-color: transparentize(darken($background, 10%), 0.4);
	
	background: $background;
	box-shadow: 0 9px 45px 0 $outline-color;
	color: $color;
	
	&:hover {
		background: $background-light;
	}

	&:focus {
		background: $background-light;
		box-shadow: 0 0 0 0.2rem $outline-color;
	}

	&:active {
		background: $background-light;
		box-shadow: 0 0 0 0.2rem transparent;
	}
}

@mixin generate-button-color($name, $background, $color: '') {
	@if ($name == 'DEFAULT') {
		.button {
			@include set-button-color($background, $color);
		}
	} @else {
		.button--#{$name} {
			@include set-button-color($background, $color);
		}
	}
}

/**
* Create image frame that vertically and horizontally align image within it
* Oversize image will be shrinked and keep width/height ratio
* @param {String} - $width - required
* @param {String} - $height - required
*/
@mixin image-frame($width, $height) {
    width: $width;
    height: $height;
    margin: 0;
    position: relative;

    img {  
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }
}