// Colors
$dark-gray: #333333;
$gray: #666666;
$light-gray: #BDC3C7;

$red: #E74C3C;
$yellow: #F1C40F;
$blue: #3498DB;
$cyan: #1ABC9C;
$dark-blue: #34495E;

$off-white: #F7F9F9;

// Font Size
$font-size-xlarge: 3rem;
$font-size-large: 2rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$input-height: 4rem;

// three-dots module. TODO: not working
// https://github.com/nzbin/three-dots
$dotWidth: 10px;
$dotHeight: 10px;
$dotRadius: $dotWidth/2;

$dotColor: $cyan;
$dotBgColor: $dotColor;
$dotBeforeColor: $dotColor;
$dotAfterColor: $dotColor;

$dotSpacing: $dotWidth + $dotWidth/2;